.start{
    background-color: rgb(232, 238, 244);
}

.main{
    display: flex;
    padding-top: 50px;
}
.main ,.m1{
    font-style: italic;
    font-weight: 30px;
   
}
.m2{
    
    margin-left: 500px;
    margin-top: 50px;
    
}
.m2 button{
    background-color: rgb(101, 206, 240);
    width: 100px;
    border-radius: 5px;
    height: 45px;
    border: 2px solid  rgb(232, 238, 244);
}
.m2 button:hover{
    transform: scale(1.1);
}
.main-box{
    display: flex;
    margin-top: 60px;
}
.box{
    width: 450px;
    background-color: white;
    margin-right: 15px;
    border-radius: 16px;
    
    
}
.b1{
    padding-inline-start: 30px;
    padding-top: 25px;

}
.box a{
    text-decoration: none;
    color: black;
   
}
.box hr{
    width: 50%;
   size: 30px;
}
.box p{
    margin-bottom: 40px;
}
.box i{
    padding-right: 20px;
    margin-bottom: 30px;
}
.box img{
    width: 100%;
}
.box img{
    transition: transform 1.5s ease;
}
.box img:hover{
    transform: scale(1.03);
   
}


@media (max-width: 768px) {
   
    .main-box {
        flex-direction: column;
        gap: 20px;
    }

    
    .main, .m1, .m2 {
        text-align: center;
        margin: 0 auto;
    }

    .m2 button {
        width: 80%; /
    }

   
    .box {
        width: 90%; 
        margin: 0 auto; 
    }

   
    .b1 {
        padding: 15px;
    }
}